* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    background-color: #c1af9a;
}

.hero-left {
    background: url("./images/form-background.jpg") no-repeat center center;
    background-size: cover;
    width: 30%;
    height: 100vh;
}